#app {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	height: 100%;
	background: #f0f0f0;
	margin-top: 100px;
}

.judul-depan {
	text-align: center;
	color: #ed786a;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    font-size: 3em;
    letter-spacing: 5px;
}

ul {
	margin: 0;
}

.tombol-depan {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menu-atas {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tombol-depan > li, .menu-atas > li {
	list-style: none;
}