<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css" />
</head>

<body>
	<div id="app">
		<ul class="menu-atas">
			<li v-for="(m, i) in menu">
				<img :class="{ 'menu-icon':true, 'active':lamanAktif==i }" :src="m.icon"></img>
				<a :class="{ 'menu-item':true, 'active':lamanAktif==i }" href="#" @click="pergiKeLaman(i)">{{m.judul}}</a>
				<div v-if="m.submenu" class="menu-content">
					<a v-for="(n, j) in m.submenu" href="#" @click="pergiKeSubLaman(i, j)">{{n.judul}}</a>
				</div>
			</li>
		</ul>
		<div v-if="lamanAktif==0">
			<h1 class="judul-depan">{{title}}</h1>
			<ul class="tombol-depan">
				<li v-for="i in kategori">
					<div @click="pergiKeSubLaman(2, i)">
						<img :src="i.gambar">
						<p>{{i.judul}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</body>

</html>